.role-skills-container{
    display: grid;
    grid-template-columns: auto max-content;
    grid-gap: 1rem;
    align-items: end;
}
.role-skills-container .skill-and-complexity{
    display: grid;
    grid-template-columns: auto 10rem;
}
.roles-and-suggestion-grid{
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-gap: 0.5rem;
    min-height: 20rem;
}
@media only screen and (max-width: 1350px) {
    .role-skills-container .skill-and-complexity {
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width: 500px) {
    .role-skills-container{
        grid-template-columns: 1fr;
    }
    .roles-and-suggestion-grid{
        grid-template-columns: 95vw;
        gap: 0.5rem;
    }
}