@page {
    size: A5;
    margin: 0;
  }
  @media print {
    html, body {
      width: 210mm;
      height: 297mm;
    }
    /* ... the rest of the rules ... */
  }

.CVReview {
    display: flex;
    flex-direction: column;
    background-color: #8080800d;
    border-radius: 20px;
    padding: 00.4rem 2rem 2rem 3rem;
    margin: 2.2rem 4.5rem 0 4.5rem;
    border: 1px solid #8080804d;
    box-shadow: 0 0 8px #80808026;
}

.cvEditContainer {
    width: 100% !important;
    height: 100%;
}
.CVReview h3 {
    font-size: 1.2rem;
    margin: 1rem 0 0 0;
}

.CVReview::-webkit-scrollbar {
    width: 0.5rem;
    background-color: #F1F0F5;
    border-radius: 10px;
}

.CVReview::-webkit-scrollbar-thumb {
    background-color: #DCDAE1;
    border-radius: 10px;
}

.CVReview p {
    color: #565B6B;
    margin: 0;
    text-align: left;
    font-family: 'Mulish', sans-serif;
    font-size: 0.9rem;
}

.CVReview .section_1 {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 70%;
    grid-column-gap: 2.5rem;
    padding-top: 4rem;
    margin-top: 3rem;
}

.CVReview .section_1 .personal_info {
    width: inherit;
    background-color: #eeecf65e;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 6rem 1rem 1rem 1rem;
    gap: 1rem;
}
.CVReview .role-tick-icon{
    font-size: 1.5rem;
}
.CVReview .role-wrapper{
    flex-shrink: 4;
}
.CVReview .section_1 .personal_info .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.CVReview .section_1 .personal_info .row p {
    font-weight: 500;
    font-size: 1rem;
    width: 100%;
    text-align: left;

}

.CVReview .section_1 .personal_info .profile {
    width: 50%;
    margin-top: -10rem;
}

.CVReview .section_1 .personal_info .profile img {
    width: 100%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.CVReview .section_1 .personal_info .divider {
    margin: 0;
}

.CVReview .section_1 .personal_info .col-100 {
    gap: 1rem
}

.CVReview .section_1 .personal_info .background {
    width: inherit;
    height: 6rem;
    background: url('../../Assests/profile_info_vector.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 10zrem;
}

.CVReview .section_1 h1 {
    text-align: left;
    margin: 0 0 0.5rem 0;
    font-weight: 600;
    font-size: 1.6rem;
}

.CVReview .section_1 p {
    font-size: 1rem;
}

.CVReview .section_1 .mphasis {
    width: 96%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6rem;
    padding: 0.6rem;
    border-radius: 1rem;
    box-shadow: 0px 10px 40px rgba(3, 21, 15, 0.05);

}

.CVReview .section_1 .mphasis .image {
    width: 3rem;
    aspect-ratio: 1/1;
    border: solid 1px #9DA2B2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.CVReview .section_1 .mphasis .image img {
    width: 60%;
}

.CVReview .section_1 .mphasis h1 {
    margin: 0;
    font-size: 1.4rem;
}

.CVReview .section_1 .mphasis p {
    font-size: 0.65rem;
    font-weight: 500;
}

.CVReview .section_2,.CVReview .LanguagesReview {
    box-shadow: 0px 10px 40px rgba(3, 21, 15, 0.05);
    border-radius: 0.5rem;
    /* padding: 1rem 0; */
    background-color: white !important;
    border-radius: 0.8rem 0.8rem 0.8rem 0.8rem;
    padding-bottom:2rem;
    padding-top: 1.5rem !important;
}

.CVReview .LanguagesReview{
    text-align: left;
    /* padding: 0 0 0 2rem; */
}

.CVReview .grid-35-65 {
    display: grid;
    grid-column-gap: 0rem;
    grid-template-columns: 30% 70%;
}
.CVReview .grid-67-33 {
    display: grid;
    grid-column-gap: 0rem;
    grid-template-columns: 67% 33%;
}

.CVReview .skill-card {
    background-color: #F9F8FC;
    border-radius: 1rem;
    padding: 0.8rem;
    gap: 1.5rem;
    align-self: flex-start;
    width: 100%;
}

.CVReview .skill-card h5 {
    margin: 0;
    font-weight: 500;
    color: #565B6B;
}

.CVReview .section_2 p {
    font-size: 0.8rem;
}

.CVReview .project_tile {
    width: clamp(80px, 40%, 250px);
}

.CVReview .project_tile p {
    width: fit-content;
    font: 1rem;
}

.CVReview .project_tile h5 {
    font-size: 1.1rem;
    margin: 0;
    color: #565B6B;
}

.CVReview .gradientDivider-h {
    width: clamp(20px, 70%, 128px);
    height: 2px;
    background: rgb(28, 27, 44);
    /* background: linear-gradient(90deg, rgba(28, 27, 44, 0) 0%, rgba(28, 27, 44, 1) 50%, rgba(28, 27, 44, 0) 100%); */
}

.CVReview .gradientDivider-v {
    margin: 0 0.5rem;
    width: 2px;
    background: rgb(28, 27, 44);
    /* background: linear-gradient(0deg, rgba(28, 27, 44, 0) 0%, rgba(28, 27, 44, 1) 50%, rgba(28, 27, 44, 0) 100%); */
}

.CVReview .gradientDivider-v:last-child {
    display: none;
}

.CVReview .skill-grid {
    display: grid;
    -ms-grid-row-align: center;
    grid-template-columns: 18% 33% 48%;
    grid-column-gap: 2rem;
    align-items: center;
}

.CVReview .skill-grid .skillName, .CVReview .role_skills .skillName {
    width: max-content;
    align-self: center;
    box-shadow: 0px 7px 20px 0px rgb(22 8 49 / 6%);
    border-radius: 31px;
    padding: 0.5rem 1rem;
    color: #EF6239;
    font-style: 0.9rem;
    font-weight: 300;
    font-size: 0.9rem !important;
    border:1px solid #d3d3d375
}

.CVReview .skill-grid .application{
    font-size: 0.8rem;
    font-style: 0.9rem;
    font-weight: 300;
}
.CVReview .certificate-grid {
    display: grid;
    -ms-grid-row-align: center;
    grid-template-columns: 20% 55% 20%;
    grid-column-gap: 1rem;
}

.CVReview .certificate-grid img {
    width: 7.3rem;
    background-color: #f1f1f1;
    border: 1px solid #DCDAE1;
    object-fit: cover;
    align-self: stretch;
    height: 7.3rem;
}

.CVReview .certificate-grid img:first-child {
    aspect-ratio: 1/1;
    border-radius: 1rem;
}

.CVReview .certificate-grid img:last-child {
    width: 13rem;
}

.CVReview h5 {
    margin: 0;
}

.CVReview .certificate-grid p {
    color: #565B6B;
    font-size: 0.9em;
}

.CVReview .certificate-grid .skill {
    padding: 0.3rem 0.8rem;
    border-radius: 0.3rem;
    background-color: #FAEDE9;
    color: #1C1B2C;
    font-size: 0.8rem;
}

.CVReview .education-grid {
    display: grid;
    -ms-grid-row-align: center;
    grid-template-columns: 20% 80%;
    grid-column-gap: 1rem;
}

.CVReview .education-grid img {
    width: 100%;
    background-color: #f1f1f1;
    border-radius: 1rem;
    border: 1px solid #DCDAE1;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.CVReview .education-grid p {
    color: #565B6B;
    font-size: 0.9em;
}

.CVReview .education-grid .skill {
    padding: 0.3rem 0.8rem;
    border-radius: 0.3rem;
    background-color: #FAEDE9;
    color: #1C1B2C;
    font-size: 0.8rem;
}
.CVReview .role>ul{
    font-size: 0.8rem!important;
}


.CVReview .portfolio{
    width: 100%;
    gap: 1rem;
}

.CVReview .portfolio h1{
    margin: 0;
    text-align: left;
    font-size: 1.6rem;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
.CVReview .portfolio img{
    width: 80%;
}
.CVReview .portfolio .btn{
    padding: 0.6rem 1rem;
    width: fit-content;
    align-items: center;
}
.CVReview .recommendation{
    text-align: left;
}
.CVReview .recommendation img{
    width: 6rem;
    /* border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: contain;
    background-color: #f1f1f1;
    padding: 1rem; */

}
.CVReview .hobby-card img{
    width:clamp(1.5rem, 3%, 2.5rem);
    background: linear-gradient(0deg, #FFBEF9 0%, #FFF1FF 100%);
    padding: 0.5rem;
    border-radius: 50%;
    width: 4.4rem  ;
    height:4.4rem;
}
.CVReview .hobby-card h4{
    font-weight: 600;
    margin: 0;

}
.CVReview .hobby-card p{
    margin: 0;
    font-weight: 500;
}
.CVReview .hobby-card .dot{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color:#565B6B;
}

.CVReview .socialContribution .card *{
    margin: 0;
}

.CVReview .socialContribution .card img{
    width: 7.5rem;
    aspect-ratio: 1/1;
    border-radius:1rem;
    border: solid 1px #DCDAE1;
    padding: 0.5rem;
    height: 7.5rem;
}
.CVReview .docs{
    text-align: left;
    margin-top: 2rem;
}
.CVReview .docs .card img{
    width:4.7rem ;
    aspect-ratio: 1/1;
    object-fit: contain;
    border-radius:0.6rem;
    border: solid 1px #DCDAE1;
    padding: 0.6rem;
    height: 4.7rem;
}
.CVReview .docs a{
    width: fit-content;
    text-decoration: none;
    text-align: left;
    color:#1C1B2C;
}
.CVReview .docs a h4{
    margin: 0;
}
.CVReview .docs p{
    font-size: 0.7rem;
}
.CVReview .socialMedia a{
    width: fit-content;
    text-decoration: none;
}
.CVReview label{ 
    font-size: 0.8rem;
    font-weight: 500;
    color: #565B6B;
}
.hobby.grid-auto{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 1rem;
    grid-row-gap: 2.4rem;
}
.CVReview .hobby-card{
    width: 100%  ;
    text-align: center;
}

.headerButtons {
    width: 15rem !important;
    margin-top: 2.1rem;
}

.CVReview .section3Review,.CVReview .CareerTimeline{
    margin-top: 2rem;
    background-color: white;
    padding-bottom: 2rem;
    border-radius: 0 0 0.8rem 0.8rem
}

.lineToright{
    border-right: 1px solid #80808038 !important;
    padding-right: 10px !important; 
}

.gapForReview {
    gap: 1.4rem !important;
}

.CVReview .CareerTimeline{
    border-radius: 0.8rem 0.8rem 0.8rem 0.8rem !important
}

.CVReview .socialMedia, .declaration{
    margin-top: 2rem;
}
@media only screen and (max-width: 1000px) {
    .sidebar-wrapper{
        display: none;
    }
    .CVReview{
        margin: 1rem;
        padding: 1rem;
    }
}
@media only screen and (max-width: 768px) {
    .CVReview .section_1 {
        grid-template-columns: 1fr;
        padding-top: 1rem;
        margin-top: 3rem;
    }
    .CVReview .section_1 .personal_info .profile img {
        width: 6rem;
    }
    .CVReview .section_1 .personal_info .background {
        display: none;
    }
    .CVReview .section_2, .CVReview .LanguagesReview {
        padding: 1rem;
    }
}
@media only screen and (max-width: 500px) {
    .CVReview {
        margin: 0;
        border: none;
    }
    .CVReview .company-overview-grid{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    .CVReview .col-90{
        width: 100%;
    }
    .CVReview .divider{
        margin: 0.5rem 0;
    }
    .CVReview .my-2{
        margin: 0.5rem 0 !important;
    }
    .CVReview h3 {
        font-size: 1rem;
        margin: 0.5rem 0 0 0;
    }
    .profileNameFont {
        font-family: "Roboto Slab" !important;
        font-size: 1.3rem !important;
        font-weight: 600 !important;
        color: #000000 !important;
        text-align: left;
    }
    .form-edit-wrapper{
        padding: 0;
    }
    .CVReview .form-row{
        flex-direction: row;
    }
    .CVReview .skill-inputs{
        flex-direction: column;
    }
    .CVReview .form-row{
        flex-direction: column;
    }
}
@media only screen and (max-width: 768px) {
    .CVReview .certificate-grid {
        display: grid;
        -ms-grid-row-align: center;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .CVReview .certificate-grid img:first-child {
        aspect-ratio: 1/1;
        border-radius: 8px;
        width: 4rem;
        height: auto;
        justify-self: start;
    }
    .CVReview .skill-list{
        flex-wrap: wrap;
    }
    .CVReview .certificate-content{
        gap: 0.5rem;
    }
    .CVReview .certificate-grid img {
        width: 80%;
        background-color: #f1f1f1;
        border: 1px solid #DCDAE1;
        object-fit: cover;
        align-self: stretch;
        height: auto;
        justify-self: center;
    }
    .CVReview .hobby-title {
        font-size: 0.7rem;
    }
    .hobby.grid-auto {
        grid-template-columns: 1fr;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
    }
    .CVReview .skill-grid .skillName, .CVReview .role_skills .skillName {
        font-size: 0.7rem !important;
    }
}
/* .lineToright {
    margin-right: 1rem  ;
    position: relative;
}

.lineToright::before {
    content: '';
    display: block;
    position: absolute;
    top: 2rem;
    height: 75%;
    border-right: 1px solid rgb(196, 191, 191);
} */

/* @media only screen and (max-width:1024px) {
    .CVReview {
        width: 60%;
    }

    .CVReview .skill-card {
        width: 90%;
    }

    .languagecard-container {
        text-align: left;
    }

    .languagecard-container .col-70 {
        width: 60%;
    }

    .cvbuilder .builder-row {
        width: 100%;
    }

    .col-language-type {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .recommendation-card {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

}

@media only screen and (max-width:900px) {
    .cvbuilder .builder-row {
        width: 100%;
    }

    .inherit-container {
        width: fit-content;
    }

    .jobTimeline {
        width: 100%;
    }

    .CVReview .skill-grid {
        display: grid;
        grid-template-columns: 27% 20% 50%;
    }
} */

/* @media only screen and (max-width:768px) {
    .CVReview {
        display: none;
    }

    .formContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .formContainer .button {
        display: flex;
        flex-direction: row;
        text-align: center;
        width: 100%;
    }
   
} */
/* 
@media only screen and (max-width:650px) {
    .formContainer {
        width: 100%;
        align-items: center;
    }
}
@media only screen and (max-width:425px) {
    .formContainer .button .col-30{
        width: 40%;
    }
} */