.cv-share-container{
    text-align: left;
    font-family: var(--font-montserrat);
    padding: 5rem 2rem;
}
@media only screen and (max-width: 500px) {
    .cv-share-container{
        padding: 0.5rem;
        padding-top: 4rem;
    }
}