.doc-grid{
    display: grid;
    padding-top: 0.5rem;
}
.doc-file-wrapper{
    display: grid;
    grid-template-columns: 10% auto;
    grid-gap: 1rem;
    padding: 0.5rem;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    border-radius: 10px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.doc-file-wrapper img{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.1);
}
.doc-details h2{
    margin: 0;
}
.doc-file-link{
    color: #000;
    text-decoration: underline;
    font-weight: 500;
}
.files-or-links{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
    flex-wrap: wrap;
}
@media only screen and (max-width: 500px) {
    .doc-grid{
        grid-template-columns: 1fr;
    }
    .doc-file-wrapper .contribution-label{
        display: none;
    }
    .doc-file-wrapper{
        grid-template-columns: 1fr;
    }
    .doc-details p{
        font-size: 0.9rem;
    }
    .files-or-links{
        gap: 0.5rem;
    }
    .files-or-links a{
        font-size: 0.85rem;
    }
    .files-or-links strong{
        font-size: 0.9rem;
    }
}