.changePassworDiv {
    padding: 2rem;
    height: 35rem;
    background-color:white;
    box-shadow: 0.8rem 0.8rem 0.8rem 0.8rem #e4e4e4;
    border-radius: 1rem;
}
@media only screen and (max-width: 1000px) {
    .changePassworDiv {
        padding: 2rem;
        height: max-content;
        background-color: white;
        border-radius: 1rem;
        width: 80%;
    }
}
@media only screen and (max-width: 500px) {
    .changePassworDiv {
        padding: 1rem;
        height: max-content;
        background-color: white;
        border-radius: 1rem;
        width: 95%;
    }
}