.edit-profile-page{
    display: flex;
    padding: 5rem 3rem;
    flex-direction: column;
    grid-area: cv;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
@media only screen and (max-width: 768px) {
    .edit-profile-page{
        padding: 2rem;
    }
}
@media only screen and (max-width: 500px) {
    .edit-profile-page{
        padding: 2rem 1rem;
        gap: 0.5rem;
    }
}