@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700;800&display=swap');

.cv-profile-container{
    display: grid;
    grid-template-columns: 6rem auto;
    height: 100vh;
    transition: all 0.3s ease;
    grid-template-areas: 'sidebar cv';
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}
.cv-profile-container--expaned {
    grid-template-columns: 18rem auto;
} 
.cv-profile-container .main-cv-wrapper{
    grid-area: cv;
    padding: 3rem;
    max-height: 100vh;
    overflow-y: scroll;
}
.profile-share-and-edit-wrapper{
    display: flex;
    align-items: center;
    gap: 2rem;
    box-shadow: rgb(236 149 124) 5px 10px 20px 0px;
    border: 1px solid red;
    background-color: #ec957c;
    padding: 0.8rem 1.5rem;
    font-size: 1.6rem;
    color: #fff;
    justify-self: flex-end;
    width: max-content;
    border-radius: 50px;
    margin-left: auto;
    margin-bottom: 2rem;
}
.profile-share-and-edit-wrapper .profile-icon-wrapper{
    cursor: pointer;
}

@media only screen and (max-width: 1400px) {
    .cv-profile-container .main-cv-wrapper{
        padding: 1rem;
    }
}
@media only screen and (max-width: 1200px) {
    .cv-profile-container--expaned {
        grid-template-columns: 12rem auto;
    } 
}
@media only screen and (max-width: 768px) {
    .cv-profile-container{
        grid-template-columns: 100%;
        grid-template-areas: 'cv';
        min-height: 100vh;
        height: auto;
    }
}
@media only screen and (max-width: 500px) {
    .cv-profile-container{
        padding-top: 4rem;
    }
    .cv-profile-container .main-cv-wrapper{
        padding: 0;
    }
    .profile-share-and-edit-wrapper {
        gap: 2rem;
        padding: 0.5rem;
        font-size: 1.4rem;
        width: 90%;
        margin: 1.5rem auto;
        justify-content: space-around;
    }
}