.cvcontainer {
    width: 50%;
    height: 77vh;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    padding: 5rem 1rem;
    overflow-y: scroll;
}


.cvcontainer h3 {
    font-size: 1rem;
    margin: 1rem 0 0 0;
}

.cvcontainer::-webkit-scrollbar {
    width: 0.5rem;
    background-color: #F1F0F5;
    border-radius: 10px;
}

.cvcontainer::-webkit-scrollbar-thumb {
    background-color: #DCDAE1;
    border-radius: 10px;
}

.cvcontainer p {
    color: #565B6B;
    margin: 0;
    text-align: left;
    font-family: 'Mulish', sans-serif;
}

.cvcontainer .section_1 {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 70%;
    grid-column-gap: 2.5rem;
}

.cvcontainer .section_1 .personal_info {
    width: inherit;
    background-color: #F9F8FC;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 6rem 1rem 1rem 1rem;
    gap: 1rem;
    position: relative;

}

.cvcontainer .section_1 .personal_info .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.cvcontainer .section_1 .personal_info .row p {
    font-weight: 500;
    font-size: 0.8em;
    width: 100%;
    text-align: left;

}

.cvcontainer .section_1 .personal_info .profile {
    width: 45%;
    position: absolute;
    top: -10%;
}

.cvcontainer .section_1 .personal_info .profile img {
    width: 100%;
    border-radius: 50%;

}

.cvcontainer .section_1 .personal_info .divider {
    margin: 0;
}

.cvcontainer .section_1 .personal_info .col-100 {
    gap: 1rem
}

.cvcontainer .section_1 .personal_info .background {
    width: inherit;
    height: 6rem;
    background: url('../../Assests/profile_info_vector.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 10zrem;
}

.cvcontainer .section_1 h1 {
    text-align: left;
    margin: 0 0 0.5rem 0;
    font-weight: 600;
    font-size: 1.6rem;
}

.cvcontainer .section_1 p {
    font-size: 0.8rem;
}

.cvcontainer .section_1 .mphasis {
    width: 96%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6rem;
    padding: 0.6rem;
    border-radius: 1rem;
    box-shadow: 0px 10px 40px rgba(3, 21, 15, 0.05);

}

.cvcontainer .section_1 .mphasis .image {
    width: 3rem;
    aspect-ratio: 1/1;
    border: solid 1px #9DA2B2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.cvcontainer .section_1 .mphasis .image img {
    width: 60%;
}

.cvcontainer .section_1 .mphasis h1 {
    margin: 0;
    font-size: 1.4rem;
}

.cvcontainer .section_1 .mphasis p {
    font-size: 0.65rem;
    font-weight: 500;
}

.cvcontainer .section_2 {
    box-shadow: 0px 10px 40px rgba(3, 21, 15, 0.05);
    border-radius: 0.5rem;
    padding: 2rem 0;
    margin: 1rem 0;
}

.cvcontainer .grid-35-65 {
    display: grid;
    grid-column-gap: 0rem;
    grid-template-columns: 30% 70%;
}

.cvcontainer .skill-card {
    background-color: #F9F8FC;
    border-radius: 1rem;
    padding: 0.8rem;
    gap: 0.5rem;
    align-self: flex-start;
    width: 95%;

}

.cvcontainer .skill-card h5 {
    margin: 0;
    font-weight: 500;
    color: #565B6B;
}

.cvcontainer .section_2 p {
    font-size: 0.8rem;
}

.cvcontainer .project_tile {
    width: clamp(80px, 40%, 200px);
}

.cvcontainer .project_tile p {
    width: fit-content;
}

.cvcontainer .project_tile h5 {
    margin: 0;
    color: #565B6B;
}

.cvcontainer .gradientDivider-h {
    width: clamp(20px, 70%, 80px);
    height: 2px;
    background: rgb(28, 27, 44);
    background: linear-gradient(90deg, rgba(28, 27, 44, 0) 0%, rgba(28, 27, 44, 1) 50%, rgba(28, 27, 44, 0) 100%);
}

.cvcontainer .gradientDivider-v {
    margin: 0 0.5rem;
    width: 2px;
    background: rgb(28, 27, 44);
    background: linear-gradient(0deg, rgba(28, 27, 44, 0) 0%, rgba(28, 27, 44, 1) 50%, rgba(28, 27, 44, 0) 100%);
}

.cvcontainer .gradientDivider-v:last-child {
    display: none;
}

.cvcontainer .skill-grid {
    display: grid;
    -ms-grid-row-align: center;
    grid-template-columns: 25% 33% 42%;
    grid-column-gap: 1rem;
    align-items: center;
}

.cvcontainer .skill-grid .skillName {
    width: max-content;
    align-self: center;
    box-shadow: 0px 7px 20px 0px rgb(22 8 49 / 6%);
    border-radius: 31px;
    padding: 0.5rem 1rem;
    color: #EF6239;
    font-style: 0.9rem;
}

.cvcontainer .certificate-grid {
    display: grid;
    -ms-grid-row-align: center;
    grid-template-columns: 20% 55% 20%;
    grid-column-gap: 1rem;
}

.cvcontainer .certificate-grid img {
    width: 100%;
    background-color: #f1f1f1;
    border-radius: 1rem;
    border: 1px solid #DCDAE1;
    object-fit: cover;
    align-self: stretch;
}

.cvcontainer .certificate-grid img:first-child {
    aspect-ratio: 1/1;
}

.cvcontainer .certificate-grid img:last-child {
    height: 100%;
}

.cvcontainer h5 {
    margin: 0;
}

.cvcontainer .certificate-grid p {
    color: #565B6B;
    font-size: 0.9em;
}

.cvcontainer .certificate-grid .skill {
    padding: 0.3rem 0.8rem;
    border-radius: 0.3rem;
    background-color: #FAEDE9;
    color: #1C1B2C;
    font-size: 0.8rem;
}

.cvcontainer .education-grid {
    display: grid;
    -ms-grid-row-align: center;
    grid-template-columns: 20% 80%;
    grid-column-gap: 1rem;
}

.cvcontainer .education-grid img {
    width: 100%;
    background-color: #f1f1f1;
    border-radius: 1rem;
    border: 1px solid #DCDAE1;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.cvcontainer .education-grid p {
    color: #565B6B;
    font-size: 0.9em;
}

.cvcontainer .education-grid .skill {
    padding: 0.3rem 0.8rem;
    border-radius: 0.3rem;
    background-color: #FAEDE9;
    color: #1C1B2C;
    font-size: 0.8rem;
}
.cvcontainer .role>ul{
    font-size: 0.8rem!important;
}
.outer-circle-wrapper{
    width: 45%;
    height: 45%;
    aspect-ratio: 1/1;
    border-radius: 51%;
    background: #fff;
    position: absolute;
    margin: 0;
    border-radius: 50%;
    background: #ffffff;
    box-shadow:  6px -6px 33px #f2f2f2,
                 -6px 6px 33px #ffffff;
    
}   
.circle-wrapper {
    width: 40%;
    height: 40%;
    aspect-ratio: 1/1;
    border-radius: 51%;
    background: #fff;
    position: relative;
    margin: 0;
    border-radius: 156px;
    background: linear-gradient(225deg, #e6e6e6, #ffffff);
    box-shadow:  -10px 10px 19px #ebebeb,
                 10px -10px 19px #ffffff;
}
.head{
    position: absolute;
    z-index: 99;
}
.head h3{
    font-size: 1rem;
    margin: 0;
}

.head p{
    font-size: 1rem;
    margin: 0;
}
.circle-wrapper .circle {
    display: flex;
    position: absolute;
    top: 51%;
    left: 51%;
    width: 60px;
    height: 60px;
    margin: -30.6px;
    border-radius: 51%;
    text-align: center;
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
    border: solid 1px green;
    background: linear-gradient(225deg, #e6e6e6, #ffffff);
    box-shadow: -15px 15px 30px #f2f2f2,
        15px -15px 30px #ffffff;
}

.deg-0 {
    transform: translate(170%)
}

.deg-60 {
    transform: rotate(60deg) translate(170%)rotate(-60deg);
}

.deg-120 {
    transform: rotate(120deg) translate(170%) rotate(-120deg);
}

.deg-180 {
    transform: rotate(180deg) translate(170%) rotate(-180deg);
}

.deg-240 {
    transform: rotate(240deg) translate(170%) rotate(-240deg);
}

.deg-300 {
    transform: rotate(300deg) translate(170%) rotate(-300deg);
}

.cvcontainer .portfolio{
    width: 100%;
    gap: 1rem;
}

.cvcontainer .portfolio h1{
    margin: 0;
    text-align: left;
    font-size: 1.6rem;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
.cvcontainer .portfolio img{
    width: 80%;
}
.cvcontainer .portfolio .btn{
    padding: 0.6rem 1rem;
    width: fit-content;
    align-items: center;
}
.cvcontainer .recommendation{
    text-align: left;
}
.cvcontainer .recommendation img{
    width: 60%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: contain;
    background-color: #f1f1f1;
    padding: 1rem;

}
.cvcontainer .hobby-card img{
    width:clamp(1.5rem, 3%, 2.5rem);
    background: linear-gradient(0deg, #FFBEF9 0%, #FFF1FF 100%);
    padding: 0.4rem;
    border-radius: 50%;
}
.cvcontainer .hobby-card h4{
    font-weight: 600;
    margin: 0;

}
.cvcontainer .hobby-card p{
    margin: 0;
    font-weight: 500;
}
.cvcontainer .hobby-card .dot{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color:#565B6B;
}

.cvcontainer .socialContribution .card *{
    margin: 0;
}

.cvcontainer .socialContribution .card img{
    width: 60%;
    aspect-ratio: 1/1;
    border-radius:1rem;
    border: solid 1px #DCDAE1;
    padding: 0.5rem;
}
.cvcontainer .docs{
    text-align: left;
}
.cvcontainer .docs .card img{
    width:clamp(1.5rem,5%,10%) ;
    aspect-ratio: 1/1;
    object-fit: contain;
    border-radius:0.6rem;
    border: solid 1px #DCDAE1;
    padding: 0.6rem;
}
.cvcontainer .docs a{
    width: fit-content;
    text-decoration: none;
    text-align: left;
    color:#1C1B2C;
}
.cvcontainer .docs a h4{
    margin: 0;
}
.cvcontainer .docs p{
    font-size: 0.7rem;
}
.cvcontainer .socialMedia a{
    width: fit-content;
    text-decoration: none;
}
.cvcontainer label{ 
    font-size: 0.8rem;
    font-weight: 500;
    color: #565B6B;
}
.hobby.grid-auto{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px,1fr));
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}
.cvcontainer .hobby-card{
    width: fit-content  ;
}

@media only screen and (max-width:1024px) {
    .cvcontainer {
        width: 60%;
    }

    .cvcontainer .skill-card {
        width: 90%;
    }

    .languagecard-container {
        text-align: left;
    }

    .languagecard-container .col-70 {
        width: 60%;
    }

    .cvbuilder .builder-row {
        width: 100%;
    }

    .col-language-type {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .recommendation-card {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

}

@media only screen and (max-width:900px) {
    .cvbuilder .builder-row {
        width: 100%;
    }

    .inherit-container {
        width: fit-content;
    }

    .jobTimeline {
        width: 100%;
    }

    .cvcontainer .skill-grid {
        display: grid;
        grid-template-columns: 27% 20% 50%;
    }
}

@media only screen and (max-width:768px) {
    .cvcontainer {
        display: none;
    }

    .formContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .formContainer .button {
        display: flex;
        flex-direction: row;
        text-align: center;
        width: 100%;
    }
   
}

@media only screen and (max-width:650px) {
    .formContainer {
        width: 100%;
        align-items: center;
    }
}
@media only screen and (max-width:425px) {
    .formContainer .button .col-30{
        width: 40%;
    }
}