.markedSlider{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-start;
}
.markedSlider .range{
    padding-left:3px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;

}
.markedSlider .slider{
    -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #FAEDE9;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.markedSlider .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #EF6239;
    border-radius: 50%;
    cursor: pointer;

  }
  


