.suggestions {
    overflow-y: scroll;
    border: #c1c1c1 solid 1px;
    padding: 2rem 0 0.5rem 0;
    max-height: 100%;
    position: relative;
    width: 100%;
    margin-top: 1.6rem;
    max-height: 20rem;
}
@media only screen and (max-width: 500px) {
    .suggestions{
        margin-top: 0;
    }
}