.cvbuilder{
    width: 100%;
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7F6FA;
}
.cvbuilder .step-row{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.cvbuilder .builder-row{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2rem;
    column-gap: 3px;
}
.cvbuilder .step-row span{
    position: absolute;
    width: 90%;
    height: 2px;
    background-color: #DCDAE1;
    margin: auto 0;
    z-index: 0;
}
.cvbuilder .step{
    border-radius: 5rem;
    padding: 0.3rem 2rem 0.3rem 0.3rem;
    width: max-content;
    border: 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.6rem;
    align-items: center;
    z-index: 1;
    font-size: 1rem;


}
.cvbuilder .step .circle{
    width: 1.8rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cvbuilder .active{
    background-color:  #FAEDE9;
    border-color: #EF6239;
    color:#EF6239;
}
.cvbuilder .active .circle{
    background-color: #EF6239;
    color: #fff;
    border-color: #EF6239;
}
.cvbuilder .inactive{
    background-color:  #EDECF0;
    border-color: #EDECF0;
    color:#565B6B;
}
.cvbuilder .inactive .circle{
    background-color: #fff;
    color: #565B6B;
    border-color: #DCDAE1;
}
.cvbuilder .complete{
    background-color:  #21CE93;
    border-color: #21CE93;
    color:#fff;
}
.cvbuilder .complete .circle{
    background-color: #fff;
    color: #fff;
    border-color: #fff;
}


@media only screen and (max-width:1024px) {
    .cvbuilder .step{
        width: 100%;
        padding: 0.3rem 1rem 0.3rem 0.3rem;
    }
    .cvbuilder .complete{
        width: max-content;
    }
    .cvbuilder .active{
        width: max-content;
    }
    .cvbuilder .inactive{
        width: max-content;
    }
    .cvbuilder .step .circle{
        width: 1.2rem;
    }
    .cvbuilder .step-row{
        width: 95%;
       
    }
}
@media only screen and (max-width:990px) {
    .cvbuilder .step-row{
        width: 95%;
       gap: 0.8rem;
       align-items: center;
    }
    .cvbuilder .step{
        padding: 0.3rem 0.8rem 0.3rem 0.3rem;
        font-size: 0.8rem;
    }
    .cvbuilder .complete{
        width: max-content;
    }
    .cvbuilder .active{
        width: max-content;
    }
    .cvbuilder .inactive{
        width: max-content;
    }
    .cvbuilder .step .circle{
        width: 1rem;
    }
   
}
@media only screen and (max-width:850) {
    .cvbuilder .step-row{
        width: 70%;
        min-height: max-content;
    }
}
@media only screen and (max-width:768px) {
    .cvbuilder .step-row{
        display: none;
    }
}

