.job-timeline-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    max-width: 100%;
    overflow-x: scroll;
}
.jobTimeline .job{
    margin-top: 3rem;
}
.jobTimeline .job h6{
    font-size: 1rem;
    margin: 0;
}
.jobTimeline .job span{
    font-size: 0.9rem;
}
.jobTimeline .job-details{
    padding: 2rem 1rem;
}
.jobTimeline .time-bar{
    display: flex;
    align-items: center;
    margin-top: -2rem;
}
.jobTimeline .year{
    background: #00dd97;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 8px solid #fff;
    display: grid;
    place-items: center;
    color: #fff;
    font-size: 0.8rem;
    transform: scale(1.04);
}
.jobTimeline .time-bar--bar{
    background: #00dd97;
    flex: 1;
    height: 1.5rem;
    min-width: 2rem;
}