@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
.home-page{
    background: #EFEEE4;
}
.home-banner{
    background-image: url('../../Assets/Banner background.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 'content image''wave wave';
    grid-template-rows: calc(100vh - 22rem) 15rem;
    grid-gap: 1rem;
    padding-top: 6rem;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}
.home-banner h1,
.home-banner h2,
.home-banner h4,
.home-banner h5,
.home-banner h6{
    font-family: 'Roboto Slab', serif;
    text-align: left;
}
.home-banner p{
    text-align: left;
}
.home-banner .banner-wave{
    grid-area: wave;
    align-self: flex-end;
    height: 100%;
    width: 100%;
}
.home-banner .banner-content-wrapper{
    padding-left: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    flex-direction: column;
}
.home-banner .banner-content-wrapper h1{
    font-size: 3.5rem;
    color: var(--muted-black);
}
.home-banner .banner-content-wrapper h1 span{
    font-size: 4.5rem;
    color: var(--green-primary);
}
.home-banner .banner-image-wrapper{
    grid-area: image;
    width: max-content;
    height: 100%;
    display: grid;
    place-items: center;
    z-index: 10;
}
.home-banner .banner-image{
    width: 50vw;

}

.easy-build-section{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2rem;
    grid-template-areas: 'image content';

}
.easy-build-image-wrapper{
    grid-area: image;
    width: 100%;
}
.easy-build-image{
    width: 100%;
}
.easy-build-content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}
.easy-build-content-wrapper hr{
    width: 100%;
}
.title-secondary{
    font-size: 3rem;
    text-align: left;
    color: var(--muted-black);
    width: 100%;
    margin: 0;
    font-family: 'Roboto Slab', serif;
}
.para-primary{
    font-size: 1.3rem;
    font-family: var(--font-poppins);
    margin: 0;
    text-align: left;
    font-weight: 400;
}
.video-list-wrapper,
.easy-build-list-wrapper{
    display: flex;
    font-family: var(--font-poppins);
    font-size: 1.3rem;
    gap: 2rem;
}
.video-list,
.easy-build-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.video-list li,
.easy-build-list li{
    display: flex;
    align-items: flex-start;
    margin: 1rem 0;
    text-align: left;
    color: #525060;
}
.easy-build-list p{
    margin: 0;
    flex-shrink: 10;
}
.video-list span,
.easy-build-list span{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1.5rem;
    border-radius: 50%;
    background: #01dd96;
    display: block;
    margin-top: 0.2rem;
}


/* Skill and industry section */
.skill-industry-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    padding-right: 0;
    padding-bottom: 0;
    grid-template-areas: 'content image';
}
.skill-industry-content{
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.skill-industry-content .para-primary{
    width: 80%;
}
.skill-industry-image-wrapper{
    grid-area: image;
    width: 100%;
    display: flex;
    align-items: flex-end;
}
.skill-industry-image{
    width: 100%;
}


/* Credibility Section */
.credibility-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 'meter content';
    grid-gap: 3rem;
    background: var(--green-muted);
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.credibility-meter-wrapper{
    min-width: 60%;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 3rem;
    background: #fff;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
    position: relative;
    aspect-ratio: 1/1;
}
.credibility-meter-title{
    margin: 0;
    font-size: 1.2rem;
}
.credibility-meter-description{
    margin: 0;
    margin-top: 0.5rem;
    font-size: 1rem;
}
.credibility-meter{
    background: #FBE4DC;
    border: 1px solid var(--orange-contrast);
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--muted-black);
    font-size: 2.5rem;
    margin: 2rem 0;
}
.credibility-badge{
    width: 5rem;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%,-50%);
}
.credibility-content{
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.credibility-content .title-secondary{
    margin-bottom: 1rem;
}

/* Analytics section */
.analytics-section{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 'content image''wave wave';
    grid-gap: 1rem;
    grid-template-rows: calc(100vh - 15rem) 15rem; 
}
.analytics-wave{
    grid-area: wave;
    width: 100%;
    height: 100%;
}
.analytics-content{
    grid-area: content;
    align-self: center;
    padding-left: 7%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.analytics-image-wrapper{
    grid-area: image;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.analytics-image{
    width: 90%;
}

/* Video section */
.video-section{
    background: #ffc9bc;
    padding-bottom: 5rem;
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 7rem;
    color: #525060;
}
.video-content-wrapper{
    align-self: center;
}
.video-section .title-secondary{
    color: #584752;
}
.video-section .para-primary{
    color: #525060;
}
.video-list span{
    background: var(--orange-contrast);
}
.video-section hr{
    border: 2px solid var(--muted-black);
}
.video-section .video-wrapper{
    position: relative;
    height: max-content;
}
.video-section .play-pause-wrapper{
    display: flex;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: 1rem;
    left: 0;
    width: 100%;
    padding: 0 2rem;
}
.video-section .play-and-pause-icon{
    width: 4rem;
    height: 4rem;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    color: var(--orange-contrast);
}
.video-section .play-pause-wrapper::before,
.video-section .play-pause-wrapper::after{
    content: '';
    flex: 1;
    display: block;
    height: 5px;
    background: #fff;
}
.video-section .play-and-pause-icon path{
    stroke: var(--orange-contrast);
}

.bg-circle{
    height: 130vh;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    transform: translateY(-15%);
}   

/* Team Section */
.team-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 3rem;
    grid-template-areas: 'content slide';
    height: 80vh;
    position: relative;
    
}
.team-content{
    grid-area: content;
    text-align: center;
    align-self: center;
    transition: all 0.6s ease;
}
.team-section-animation{
    transform: translateY(-10%);
    opacity: 0;
}
.team-content p,
.team-content strong{
    margin: 0;
    font-family: var(--font-poppins);
    color: var(--muted-black);
}
.team-content .team-para{
    font-size: 1.8rem;
    font-weight: 500;
}
.team-content .team-member-name{
    font-size: 1.4rem;
    margin-top: 1rem;
    display: block;
}
.team-content .team-member-designation{
    font-size: 1.2rem;
    font-weight: 400;
}
.team-slider{
    width: 100%;
    align-self: center;
    overflow: hidden;
    position: relative;
    height: 100%;
}
.team-slider .slider-nav-wrapper{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
}
.team-slider .slider-nav{
    background: #fff;
    padding: 0.5rem 1rem;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
}
.team-slider-wrapper{
    display: grid;
    transition: margin 0.6s ease;
    height: 100%;
}
.team-slide{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


/* Resume section */
.resume-section .title-secondary{
    text-align:center;
    margin: 2rem 0;
}
.resume-section .para-primary{
    text-align: center;
    max-width: 500px;
    margin: auto;
}


/* Footer section */
.footer-home{
    background: var(--green-muted);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 3rem;
    grid-template-areas: 'image content';
    padding: 2rem 0;
}
.footer-image-wrapper{
    width: 100%;
    height: 100%;
    grid-area: image;
}
.footer-image{
    width: 70%;
}
.footer-content{
    grid-area: content;
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}
@media only screen and (max-height: 700px) {
    .home-banner{
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 'content image''wave wave';
        grid-template-rows: calc(100vh - 15rem) 8rem;
        grid-gap: 1rem;
        padding-top: 6rem;
    }
    .analytics-section{
        padding-top: 2rem;
        width: 100%;
        height: max-content;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 'content image''wave wave';
        grid-gap: 1rem;
        grid-template-rows: calc(100vh - 15rem) 8rem; 
    }
}


@media only screen and (max-width: 1600px) {
    .home-banner .banner-content-wrapper h1 {
        font-size: 3rem;
    }
    .home-banner .banner-content-wrapper h1 span {
        font-size: 4rem;
    }
}
@media only screen and (max-width: 1300px) {
    .home-banner .banner-content-wrapper h1 span {
        font-size: 3.5rem;
    }
    .title-secondary {
        font-size: 2.5rem;
    }
    .para-primary {
        font-size: 1rem;
    }
    .easy-build-list-wrapper {
        font-size: 1rem;
    }
}
@media only screen and (max-width: 1150px) {
    .home-banner .banner-content-wrapper h1 {
        font-size: 2.5rem;
    }
    .home-banner .banner-content-wrapper h1 span {
        font-size: 3rem;
    }
}
@media only screen and (max-width: 768px) {
    .home-banner .banner-wave {
        display: none;
    }
    .home-banner {
        height: max-content;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-areas: 'content' 'image';
        grid-template-rows: max-content max-content;
        grid-gap: 1rem;
        padding: 1rem;
        padding-top: 6rem;
    }
    .home-banner .banner-content-wrapper {
        padding-left: 0;
        align-items: center;
    }
    .home-banner .banner-content-wrapper h1 {
        text-align: center;
    }
    .home-banner .banner-image-wrapper{
        height: auto;
        width: 90%;
        z-index: 10;
    }
    .home-banner .banner-image{
        width: 80%;
    }
    .easy-build-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        grid-template-areas: 'image' 'content';
        padding: 1rem;
    }
    .easy-build-image{
        width: 65%;
        margin: auto;
    }
    .easy-build-image-wrapper{
        display: flex;
        justify-content: center;
    }
    .easy-build-content-wrapper{
        justify-content: center;
        align-items: center;
    }
    .title-secondary {
        font-size: 2rem;
        text-align: center;
    }
    .skill-industry-section {
        display: grid;
        grid-template-columns:1fr;
        grid-gap: 2rem;
        padding: 1rem;
        grid-template-areas: 'content' 'image';
        padding-bottom: 0;
    }
    .skill-industry-image-wrapper{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .skill-industry-image{
        width: 80%;
        margin-right: -1rem;
    }
    .skill-industry-content .para-primary {
        width: 100%;
        text-align: center;
    }
    .credibility-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 'content''meter';
        grid-gap: 2rem;
        background: var(--green-muted);
        padding: 1rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }   
    .credibility-section .para-primary{
        text-align: center;
    }
    .credibility-meter-counter{
        font-size: 1.5rem;
    }
    .credibility-meter{
        width: 5rem;
        height: 5rem;
    }
    .credibility-meter-description{
        font-size: 1rem;
    }
    .credibility-meter-title{
        font-size: 1.2rem;
    }
    .credibility-meter-wrapper{
        padding: 2rem;
    }
    .credibility-badge{
        width: 4rem;
    }
    .analytics-section {
        padding: 1rem;
        padding-top: 2rem;
        width: 100%;
        height: max-content;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 'content''image';
        grid-gap: 1rem;
        grid-template-rows: max-content max-content;
    }
    .analytics-wave{
        display: none;
    }
    .analytics-content{
        padding-left: 0;
    }
    .analytics-content .para-primary{
        margin-top: 1rem;
    }
    .analytics-image {
        width: 80%;
        margin: auto;
    }
    .video-section {
        background: var(--orange-muted);
        padding-bottom: 5rem;
        padding-top: 3rem;
        padding: 1rem;
        display: grid;
        grid-template-columns:1fr;
        grid-gap: 2rem;
        color: #525060;
    }
    .video-list-wrapper, .easy-build-list-wrapper {
        width: 100%;
        margin: auto;
    }
    .video-content-wrapper .para-primary{
        text-align: center;
    }

    .bg-circle{
        display: none;
    }  
    .team-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        grid-template-areas: 'slide''content';
        grid-template-rows: 45vw max-content;
        height: max-content;
    }
    .team-content .team-para {
        font-size: 1.1rem;
    }
    .video-list, .easy-build-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 500px) {
    .home-banner .banner-content-wrapper h1 {
        font-size: 1.5rem;
    }
    .home-banner .banner-content-wrapper h1 span{
        font-size: 1.8rem;
    }
    .home-banner .banner-image{
        width: 100%;
    }
    .video-list-wrapper, .easy-build-list-wrapper {
        flex-direction: column;
        gap: 0;
    }
    .credibility-meter-wrapper {
        width: 90%;
        padding: 1rem;
    }
    .credibility-badge{
        width: 2rem;
    }
    .credibility-meter-description {
        font-size: 0.9rem;
        text-align: center;
    }
    .para-primary {
        font-size: 0.9rem;
        text-align: center;
    }
    .title-secondary {
        font-size: 1.5rem;
    }
    .easy-build-image {
        width: 100%;
        margin: auto;
    }
    .skill-industry-image {
        width: 100%;
        margin-right: -1rem;
    }
    .analytics-image{
        width: 100%;
    }
    .video-list li, .easy-build-list li {
        font-size: 0.9rem;
    }
    .team-content .team-para {
        font-size: 1rem;
    }
    .team-content .team-member-name {
        font-size: 1rem;
    }
    .team-content .team-member-designation{
        font-size: 1rem;
    }
    .footer-home {
        background: var(--green-muted);
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 3rem;
        grid-template-areas: 'content';
    }
    .footer-image-wrapper{
        display: none;
    }
    .footer-content{
        align-items: center;
    }
    .video-section .play-and-pause-icon {
        width: 2.5rem;
        height: 2.5rem;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        border-radius: 50%;
        cursor: pointer;
        color: var(--orange-contrast);
    }
    .video-section .play-pause-wrapper {
        gap: 0.5rem;
    }
    .video-section .play-pause-wrapper::before, .video-section .play-pause-wrapper::after {
        height: 3px;
    }
    .resume-section{
        padding: 1rem;
        overflow: hidden;
    }
    .video-list li, .easy-build-list li {
        margin: 5px 0;
    }
    .easy-build-list li{
        align-items: flex-start;
    }
    .easy-build-list li span{
        width: 1rem;
        height: 1rem;
    }
}