.designation-grid{
    display: grid;
    grid-template-columns: 20rem auto;
    grid-template-areas: 'info skills';
    margin-bottom: 2rem;
}
.cv-preview-container .designation-grid{
    grid-template-columns: 1fr;
    grid-template-areas: 'info''skills';
    gap: 1rem;
}
.designation-grid .company-info-wrapper{
    grid-area: info;
}
.designation-title-wrapper{
    background: #f0967c;
    color: #fff;
    padding: 0.5rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
    width: max-content;
}
.designation-title-wrapper h2{
    margin: 0;
    font-family: var(--font-montserrat);
}
.designation-title-wrapper p{
    margin: 0;
}
.designation-skills-wrapper{
    background: #faf7fc;
    border-radius: 8px;
    padding: 1rem;
}
.designation-skills-title{
    font-size: 1rem;
    margin: 0;
    color: #5b5c9d;
    margin-bottom: 1rem;
}
.designation-skill{
    display: flex;
    gap: 1rem;
}

@media only screen and (max-width: 768px) {
    .designation-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 'info''skills';
        gap: 1rem;
    }
}
@media only screen and (max-width: 500px) {
    .designation-skill{
        flex-direction: column;
        gap: 0.5rem;
        padding: 0.5rem 0;
    }
    .designation-title-wrapper h2{
        font-size: 1rem;
    }
    .designation-title-wrapper p{
        font-size: 0.8rem;
    }
    .designation-skill-name{
        margin: 0;
        font-size: 0.9rem;
    }
    
}