@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

:root{
  --muted-black: #434552;
  --green-primary: #6BCF94;
  --green-muted: #DBEAE5;
  --orange-muted: #F0967D;
  --orange-contrast: #EC6138;
  --font-poppins: 'Poppins', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto Slab', serif;
  box-sizing: border-box;
}
*{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
a{
  color: #fff;
  text-decoration: none;
}
.btn-primary{
  padding: 0.8rem 3rem;
  background: var(--orange-muted);
  border: 2px solid var(--orange-contrast);
  border-radius: 50px;
  font-size: 1.1rem;
  font-weight: 600;
  box-shadow: 0px 16px 39px var(--orange-muted);
  transition: box-shadow 0.3s ease;
  display: block;
  width: max-content;
}
.btn-primary:hover{
  box-shadow: 0px 5px 20px var(--orange-muted);
}
.container-padding{
  padding: 1rem 7%;
}
@media only screen and (max-width: 1300px) {
  .container-padding{
    padding: 1rem 4%;
  }
}
@media only screen and (max-width: 500px) {
  .btn-primary{
    padding: 0.8rem 2rem;
    background: var(--orange-muted);
    border: 2px solid var(--orange-contrast);
    border-radius: 50px;
    font-size: 0.9rem;
    font-weight: 600;
    box-shadow: 0px 16px 39px var(--orange-muted);
    transition: box-shadow 0.3s ease;
    display: block;
    width: max-content;
  }
}
