.personal-info-input-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid rgb(28, 26, 26);
    gap: 2rem;
}
.CVReview .personal-info-input-wrapper label{
    font-size: 1.2rem;
}
.personal-info-input-wrapper input,
.personal-info-input-wrapper select{
    background: transparent;
    outline: none;
    border: none;
    font-size: 1.2rem;
    flex: 1;
}
.personal-info-input-wrapper .edit-icon{
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
    .personal-info-input-wrapper {
        width: 100%;
        padding: 0.5rem 0;
        gap: 1rem;
        font-size: 0.9rem;
    }
    .personal-info-input-wrapper input {
        font-size: 0.9rem;
    }
}